@media only screen and (max-width: 1800px) {

    .heading-primary {
        font-size: 4rem;
        padding: 4rem 0;
    }

    .section-main {
        padding: 2rem;
    }

    .temperature-text {
        font-size: 3rem;
    }

    .wind-text {
        font-size: 3rem;
    }

    .new_item {
        margin: 1rem;
    }
}


/* Big tablet to 1200px  */
@media only screen and (max-width: 1200px) {

    .new_item .city {
        font-size: 2rem;
    }

    .myChart2 {
        display: block;
        width: 9.5rem;
        height: 27rem;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    .section-main {
        margin: 2.5rem;
    }

    .board {
        margin: 2.5rem;
    }

    .heading-primary {
        text-align: center;
    }

    .main-chart {
        width: 37%;
    }

    .search_container {
        align-self: center;
        display: flex;
        align-items: baseline;
    }

    .long_button {
        display: none;
    }

    .short_button {
        display: inline-block;
    }

    .list {
        justify-content: space-evenly;
    }
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    .section-main {
        display: flex;
        margin: 2.5rem;
        margin-right: 1rem;
        padding: 2rem;
    }

    .heading-primary {
        font-size: 3.5rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
    }

    .temperature-text {
        font-size: 3rem;
    }

    .main-chart {
        width: 45%;
    }

    .wind-text {
        font-size: 3rem;
    }

    .search_container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .long_button {
        display: inline-block;
    }

    .short_button {
        display: none;
    }

    .board {
        margin-left: 1rem;
        background-color: rgba(0,0,0,.0);
        box-shadow: none;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    .dashboard {
        flex-direction: column;
    }

    .section-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1rem;
        background-size: cover;
        background-position: bottom right;
        background-color: rgba(0,0,0,.0);
        box-shadow: none;
    }

    .heading-primary {
        text-align: center;
        font-size: 2rem;
        padding-bottom: .1rem;
        padding-top: 2rem;
    }

    .city {
        font-size: 2rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .temperature-text {
        font-size: 2rem;
    }

    .main-chart {
        width: 20rem;
        align-self: center;
    }

    .my-chart-main {
        display: block;
        height: 27.5rem;
        width: 20rem;
    }

    .wind-text{
        font-size: 2rem;
    }

    .search_container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #search_box {
        margin-top: 1rem;
    }

    .search-btn {
        margin-top: .5rem;
    }

    #btn-board {
        margin-top: .5rem;
    }

    .long_button {
        display: inline-block;
    }

    .short_button {
        display: none;
    }

    .board {
        justify-content: center;
        background-color: rgba(0,0,0,.0);
        box-shadow: none;
        width: 100%;
        margin: 0;
    }

    .list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 30rem;
    }

    .wrapper2 {
        flex-direction: column;
        align-items: center;
    }

    .widget-chart {
        height: 27rem;
        width: 14rem;
    }

    .myChart2 {
        display: block;
     }

    .footer {
        margin-top: 0;
    }

    .copyright {
        margin-top: 1rem;
    }
}

