*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: #6e6d6d;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0.801)), url(../img/nature2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 6rem;
    min-height: 100%;
}


/* - - - - - - - - - - - - - - - - - - - - - -   H E A D E R   - - - - - - - - - - - - - - - - - - */
.header {
    text-align: center;
}

.heading-primary {
    font-size: 5rem;
    text-transform: uppercase;
    padding: 5rem 0;
    color:rgb(105, 74, 5);
}
.dashboard {
    display: flex;
    justify-content: space-evenly;
}


/*  - - - - - - - - - - - - - -   L E F T   S I D E    O F   T H E    P A G E  - - - - - - - - - - - */
.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: rgba(0,0,0,.05);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    max-height: 68.5rem;
}

.city {
    color: #5a0503;
    text-transform: capitalize;
}

.wrapper {
    display: flex;
    margin: 0 auto;
}

/* temperature value in degree Celsius*/
.temperature-text {
    align-self: center;
    font-size: 5rem;
    padding: 2%  0;
    color: rgb(105, 74, 5); 
}

/* main bar chart */
.main-chart {
    flex-grow: 1;
    margin-bottom: auto;
    height: 50vh;
    width: 25%;
    position: relative;
}

/* wind value in KPH*/
.wind-text {
    align-self: center;
    font-size: 5rem;
    padding: 2%  0;
    color: rgb(105, 74, 5);
}

.search_container {
    align-self: center;
}

#search_box {
    width: 16rem;
    padding: 1rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    border-radius: 10rem;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 4rem; 
}

#search_box:focus::-moz-placeholder,
#search_box:focus::-webkit-input-placeholder {
    color: transparent;
}

#search_box::placeholder {
   opacity: .5;
}

/* Search button */
.search-btn {
    font-size: 1.5rem;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 10rem;
    background-image: linear-gradient(to bottom right, #5a0503, #f7c3c3);
    color: #fff;
    border: none;
    transition: all .2s;
    outline: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* 'On Board' button */
#btn-board {
    font-size: 1.5rem;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 10rem;
    background-image: linear-gradient(to bottom right, #0e0605, #f7c3c3);
    color: #fff;
    border: none;
    transition: all .2s;
    outline: none;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#btn-board:hover,
.search-btn:hover {
    box-shadow: 0 .7rem 1.5rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom right, #310302, #f3a4a4);
    }

#btn-board:focus,
#btn-board:active,
.search-btn:focus,
.search-btn:active {
    transform: translateY(.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
}

/* short 'On board' button for smaller devices */
.short_button {
    display: none;
}


/*  - - - - - - - - - - - -  R I G H T   S I D E    O F   T H E    P A G E  - - - - - - - - - - - - - - */
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    background-color: rgba(0,0,0,.05);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}

/* Unordered list of added widgets */
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: 2%;
    padding: 0;
    max-width: 100%;
}

/* New widget */
.new_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin:2rem;
    background-color: rgba(0,0,0,.05);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}

/* Cancel button */
.cancel {
    align-self: flex-end;
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 1px 1px 3px black;
    border-radius: .8rem;
    padding: .4rem .8rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #0600ff;
}

.wrapper2 {
    display: flex;
    margin: 0 auto;
}

.temperature-text2 {
    align-self: center;
    font-size: 2rem;
    padding: 2%  0;
    color: rgb(105, 74, 5);
    font-weight: normal;
}

.widget-chart {
    flex-grow: 1;
    margin-bottom: auto;
    posi
    ion: relative;
    align-self: center;
}

.myChart2 {
    display: block;
     width: 14rem;
     height: 27rem;
 }

.wind-text2 {
    align-self: center;
    font-size: 2rem;
    padding: 2%  0;
    color: rgb(105, 74, 5);
    font-weight: normal;
}


/* - - - - - - - - - - - - - - - - - - -  F O O T E R - - - - - - - - - - - - - - - - - - */
.footer {
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   text-align: center;
    
}
.copyright {
    margin-top: auto;
    font-size: 1.2rem;
    color: #968B87;
    
}

.link:link,
.link:visited {
  color: #968B87;
}
